
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer class="py-3 mt-4">
    <div class="row">
        <div class="col">
            <div class="text-center ">

            التطبيق بإشراف وإدارة قسم الفتوى في المجمع الفقهي العراقي
            </div>
        </div>
    </div>
</footer>