@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "الوصول غير مسموح";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">لا يمكنك الدخول إلى هذه المعلومات.</p>
</header>
