@model WebOS.Models.Scholar

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Scholar</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
              <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositioName" class="control-label"></label>
                <input asp-for="PositioName" class="form-control" />
                <span asp-validation-for="PositioName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Indx" class="control-label"></label>
                <input asp-for="Indx" class="form-control" />
                <span asp-validation-for="Indx" class="text-danger"></span>
            </div>
              <div id="imagediv" class="form-group">
                    <label asp-for="Image" class="form-label"></label>
                    <input type="file" name="myfile" id="file" accept=".png,.jpg,.jpeg,.gif,.tif" class="form-control-file" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                    <input asp-for="Image" id="fileinput" class="form-control" />
                </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                 <textarea asp-for="Bio" rows="30" class="form-control" ></textarea>
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">العودة الى القائمة</a>
</div>

@section Scripts {

    <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'advlist autolink lists link image charmap preview anchor pagebreak',
      toolbar_mode: 'floating',
    });
  </script>

    <script>
        $(document).ready(function () {
            $("#file").change(function () {
                if ($("#file").val() != "") {
                    $("#fileinput").prop("value", $("#file").val().split('\\').pop());
                }
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


